:root {
    --primary-color: #08415c;
    --secondary-color: #cc2936;
    --accent-color: #ebbab9;
    --links-color: #F1DFA1;
    --link-color-visited: #D4A62C;
    --text-color: #ffffff;
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

a {
    color: var(--links-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color-visited);
}

header{
    font-family: var(--font-title);
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    height: 70px;
}  


header div nav{
    margin-top: 4rem;
}

main h1 {
    position: absolute; /* o relative según tu diseño */
    top: 0px;
    color: var(--text-color);
    font-family: var(--font-title);
    font-size: x-large;
    z-index: 3000;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: center;
    z-index: 4000;
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 10px;
    padding-left: 3.5rem;
}

nav ul li:hover{
    background-color: var(--secondary-color);

}

nav ul li a:hover {    
    color: var(--text-color);
}

nav.open {
    display: block;
    background-color: var(--primary-color);
}

.hero {
    width: 100%;
    height: auto;
    margin: -10px 0 10px 0;
}

header div nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    position: absolute;
    justify-content: space-between;
    left: 0;
    width: 100%;
    z-index: 4000;
}

main {
    font-family: var(--font-body);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    font-family: var(--font-body);
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.personal-use div, #spotlightContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 20px 0;
}

.personal-use div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.personal-use div img:hover {
    transform: scale(1.05);
}

.personal-use div h3 {
    position: relative;
    margin: 0;
    top: -60px;
    color: var(--text-color);
    z-index: 3000;
    height: 0;
}

.personal-use div p {
    margin: 0;
}

.course-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.course-buttons button {
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.course-title-b{
    background: var(--secondary-color);
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.course-title-check{
    background: var(--links-color);
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.course-buttons button:hover {
    background-color: var(--accent-color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.course-card{
    width: 200px;
}

.intro {
    width: 90%;
    text-align: center;
}

.body-section,.current-events, .weather, .spotlight {
    width: 70%;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(8, 65, 92, 0.5);
    margin: 10px;
}

.body-section .directory-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.member-class {
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.member-card {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 4px rgba(15, 1, 2, 0.5);
}

.member-card img {
    width: auto;
    height: 4rem;
    border-radius: 10px;
}   

.button-website-card {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 40%;
}

.button-website-card:hover {
    background-color: var(--accent-color);
    color: black;
}

footer {
    font-family: var(--font-title);
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px -2px 4px rgba(255, 0, 0, 0.3);
}