header {
    display: flex;
    flex-direction: column;
}

nav {
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 1.3rem;
    margin: 10px 0;
    text-align: center;
    width: 70%;
}

.hamburger-menu {
    display: block;
    font-size: 2rem;
}

header nav {
    display: none;
}

form {
    width: 80%;
    margin-bottom: 20px;
}

form label {
    width: 80%;
}

.submit-btn {
    width: 80%;
    display: block;
}

.membership-icon {
    position: absolute;
    width: 70px;
    top: 80px;
    right: 20px;
}

.card {
    width: 80%;
    margin: 0 auto 20px auto;
}

.card figure img {
    width: 220px;
}

section {
    padding: 1rem;
}